* {
    background-color: rgb(23, 24, 28);
}

h1, h2 {
    font-family: "Orbitron";
    color: rgb(255, 44, 32);
    letter-spacing: 1px;
}
p {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}


p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: medium;
    text-align: center;
    max-width: 70ch;
    font-size: large;
    line-height: 2;
    margin: 0 auto;
}
iframe {
      width: 100%;
      height: 90vh;
      border: 1px solid rgb(23, 24, 28);
      border-radius: 8px;
}

.title {
    font-family: "Zalando Sans Expanded";
    text-align: center;
    margin: 5% 0% 5% 0%;
}

.firstwords {
    font-family: "Zalando Sans Expanded";
    text-align: center;
    margin: 5% 0% 5% 0%;
    text-align: center;
}

.type {
    color: aliceblue;
    text-align: center;
}

.thanks {
    font-family: "Cherry Bomb One";
}

.chapters {
    text-align: center;
    margin: 2% 0 2% 0;
}

.pb {
    font-size: large;
}
.container {
  width: min(1000px, 95%);
  margin: 0 auto;
}
p { text-indent: 1.2em; }
.section {
  padding: 26px 0;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.pdf-button {
  display: none;
}

.pdf-frame {
  width: 100%;
  height: 80vh;
  border: none;
}
@media (max-width: 768px) {
  .pdf-button {
    display: inline-block;
  }

  .pdf-frame {
    display: none;
  }
}
